<div class="slider" *ngIf="movies$ | async as movies">
  <ng-container  *ngFor="let movie of movies; let movieIndex =index" >

  <div class="slide" *ngIf="movieIndex === slideIndex% movies.length" @slideFade>
    <div class="slide-bg">
      <img
        src="{{'https://image.tmdb.org/t/p/original'+movie.backdrop_path}}"
        alt=""
      />
    </div>
    <div class="slide-pane">
      <h2 class="title">{{movie.original_title}}</h2>
      <div class="meta mb-4">
        <div class="rating">
          <i class="pi pi-star-fill mr-2"></i>
          <span>{{movie.vote_average}}</span>
          <span>/10</span>
        </div>
        <div class="votes mb-1">
          <i class="pi pi-users mr-2"></i>

          <span>{{movie.vote_count}}</span>
        </div>
        <div class="release-date">
          <i class="pi pi-calendar mr-2"></i>

          {{movie.release_date}}
        </div>
      </div>
      <div class="description">
        {{movie.overview}}
      </div>
    </div>
  </div>
</ng-container>

</div>
